<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-info"
                    (click)="goToCreate()"><i class="fa fa-plus"></i> Add Client</button>
                <div class="alert alert-info alert-rounded mt-5" *ngIf="clients?.length == 0">Sorry, but there are no
                    clients yet.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span
                            aria-hidden="true">×</span> </button>
                </div>
                <div class="table-responsive" *ngIf="clients?.length > 0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Cif</th>
                                <th>Name</th>
                                <th>Created At</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients">
                                <td>{{ client.id }}</td>
                                <td>{{ client.cif }}</td>
                                <td>{{ client.name }}</td>
                                <td>{{ client.createdAt }}</td>
                                <td class="text-nowrap">
                                    <a data-toggle="tooltip" data-original-title="Edit" (click)="goToEdit(client.id)">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a data-toggle="tooltip" data-original-title="Delete"
                                        (click)="deleteClient(client.id)"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>